/****

Document level and basic layout styles

****/

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    height: 100%;
}

body {
    font-weight: normal;
    padding-top: $header-height-deployed-xxs;
}

.page-container {
    position: relative;
}

/*
  ╔════╤══════════════════════════╤═══╗
  ║••• │                          │ ? ║
  ║────┴──────────────────────────┴───║
  ║                                   ║
  ║                                   ║
  ║       Screen Size : S             ║
  ║                                   ║
  ║                                   ║
  ║                                   ║
  ╚═══════════════════════════════════╝
*/

@include min-width(s) {

}

/*
  ╔════╤══════════════════════════╤═══╗
  ║••• │                          │ ? ║
  ║────┴──────────────────────────┴───║
  ║                                   ║
  ║                                   ║
  ║       Screen Size : m             ║
  ║                                   ║
  ║                                   ║
  ║                                   ║
  ╚═══════════════════════════════════╝
*/

@include min-width(m) {

}

/*
  ╔════╤══════════════════════════╤═══╗
  ║••• │                          │ ? ║
  ║────┴──────────────────────────┴───║
  ║                                   ║
  ║                                   ║
  ║       Screen Size : l             ║
  ║                                   ║
  ║                                   ║
  ║                                   ║
  ╚═══════════════════════════════════╝
*/

@include min-width(l) {

}

/*
  ╔════╤══════════════════════════╤═══╗
  ║••• │                          │ ? ║
  ║────┴──────────────────────────┴───║
  ║                                   ║
  ║                                   ║
  ║       Screen Size : xl            ║
  ║                                   ║
  ║                                   ║
  ║                                   ║
  ╚═══════════════════════════════════╝
*/

@include min-width(xl) {

}

/*
  ╔════╤══════════════════════════╤═══╗
  ║••• │                          │ ? ║
  ║────┴──────────────────────────┴───║
  ║                                   ║
  ║                                   ║
  ║       Screen Size : xxl           ║
  ║                                   ║
  ║                                   ║
  ║                                   ║
  ╚═══════════════════════════════════╝
*/

@include min-width(xxl) {

}
